* text=auto

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.json linguist-language=JSON-with-Comments
*.neon linguist-language=YAML

*.phar binary
*.gif binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary

/src/Program.php export-ignore
/tests/Feat/ExampleTest.php export-ignore
/tests/Unit/ProgramTest.php export-ignore
# CHANGELOG.md export-ignore
# .editorconfig export-ignore
# .gitattributes export-ignore
# .gitignore export-ignore
# /.github export-ignore
# /tests export-ignore